* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #BC6C25;
  --secondary-color: #740000;

  --navbar-color: #fff;
  --navbar-text-color: #333;

  --text-color-dark: #333;
  --text-color-light: #fff;
  --background-color: #fff;
  --secondary-background-color: #ECE7DE;
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Poppins', sans-serif;

  --base-spacing: 8px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

body {
  font-family: var(--font-primary);
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.75em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
  margin-top: 0;
  margin-bottom: var(--base-spacing);
}

p {
  font-family: var(--font-secondary);
  font-size: 1em;
  margin-top: 0;
  margin-bottom: var(--base-spacing);
}

a {
  font-family: var(--font-secondary);
  font-size: 1em;
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.main {
  display: block;
}

/* Wygląd sekcji */

.section {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  height: 100vh;
}

.table {
  display: flex;
  flex-direction: row;
  width: 1200px;
}

.table__column {
  min-width: 50%;
  display: flex;
  flex-direction: column;
}